.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--main-font-weight);
}

.page__container {
  inline-size: clamp(20rem, 13.2143rem + 33.9286vw, 43.75rem);
  min-inline-size: 320px;
  margin-inline: auto;
}

.header__main {
  padding: clamp(7.5rem, 7.3239rem + 0.7525vw, 8rem) 0;
  font-family: var(--accent-font), monospace;
  background: var(--bg-color);
  margin-block: 100px;
  border: 2px var(--text-color) solid;
  text-align: center;
}

.header__main-title {
  text-align: center;
  font-weight: var(--font-weight-normal);
  font-size: var(--header-title-font-size);
  color: var(--text-color);
}

.header__main-description {
  padding-block-start: 1.25rem;
  color: var(--text-color);
  text-align: center;
  font-weight: var(--font-weight-normal);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

main {
  font-family: var(--main-font), sans-serif;
}

.card {
  background-color: var(--bg-color);
  border: 2px var(--text-color) solid;
  min-inline-size: min-content;
}

.content__section_card:not(:last-of-type) {
  margin-block-end: 50px;
}

.card__header {
  font-variation-settings: "wght" var(--font-weight-bold);
  font-size: 1.125rem;
  padding: 3.5px 10px 5.5px;
  line-height: 1.21;
}

.card__image-wrap {
  position: relative;
  border-block: 2px var(--text-color) solid;
  inline-size: 100%;
  block-size: clamp(20rem, 13.2143rem + 33.9286vw, 43.75rem);
}

.card__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
}

.card__label {
  position: absolute;
  top: 28px;
  right: 26px;
  mix-blend-mode: hard-light;

  font-family: var(--accent-font), monospace;
  font-weight: var(--font-weight-normal);
  font-size: 0.875rem;
  line-height: 100%;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__paragraph {
  line-height: 21px;
  font-size: 1.125rem;
}

.card__paragraph:not(:last-of-type) {
  margin-block-end: 27px;
}

.button {
  border: 2px var(--text-color) solid;
  font-family: var(--accent-font), sans-serif;
  font-size: 0.875rem;
  position: relative;
  cursor: pointer;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease, color 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover {
  color: var(--bg-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.card__content-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.card__icon-button {
  justify-self: end;
  background-color: transparent;
  cursor: pointer;
  border: 2px transparent solid;
  block-size: 38px;
  padding: 0;
  transition: border-color 0.3s ease;
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
  text-transform: capitalize;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.button-save__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.button-save__content svg {
  inline-size: 28px;
  block-size: 28px;
  fill: var(--bg-color);
}

.button-save {
  display: flex;
  padding: 15px 17px;
  margin: 50px auto 100px;
}

.dialog__save {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  flex-direction: column;
  gap: 30px;
  padding: 1.875rem;
  border: 2px var(--text-color) solid;
}

.dialog__save[open] {
  display: flex;
}

.dialog__save::backdrop {
  background-color: var(--text-color);
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__content-svg-wrapper {
  inline-size: 39px;
}

.dialog__content-svg {
  inline-size: 39px;
  align-self: center;
  fill: var(--text-color);
}

.dialog__content-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 0.875rem;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
}

.dialog__button {
  inline-size: 100%;
  padding: 0.785rem;
  text-transform: uppercase;
}


@media (prefers-reduced-motion: reduce) {
  .like-icon.is-liked .sparks,
  .like-icon.is-liked .heart {
    animation: none;
  }
}

@media (min-width: 1440px) {
  .card__label {
    top: 25px;
    right: 25px;
  }
  .button-save__content {
    flex-direction: row;
  }

  .button-save__content svg {
    inline-size: 21px;
    block-size: 21px;
  }
}

@media (max-width: 425px) {
  .page__container {
    inline-size: 100vw;
  }
  .card__image-wrap {
    block-size: 100vw;
  }
}

.border {
  border: 2px solid var(--text-color);
  overflow: hidden;
}

.last_letter {
  text-transform: none;
}

.halftone {
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-attachment: fixed;
}

.blur-and-sepia {
  filter: blur(0.2rem) sepia(80%);
}

.opacity-and-grayscale {
  filter: opacity(0.2) grayscale(1);
}

.blur {
  filter: blur(0.2rem);
}

.opacity-and-blur {
  filter: opacity(0.3) blur(0.2rem);
}

.sepia {
  filter: grayscale(100%) sepia(50%) brightness(90%) contrast(110%);
}

.brightness-and-grayscale {
  filter: brightness(8) grayscale(1);
}

.invert-and-saturate {
  filter: invert(0.8) saturate(160%);
}

.hue-rotate-and-invert {
  filter: hue-rotate(10deg) invert(0.8);
}

.saturate {
  filter: saturate(160%);
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear 0s;
  fill: var(--heart-main-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--heart-main-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-scale-up 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--heart-main-color);
  transform-origin: center;
}


.like-icon.is-liked .sparks {
  animation: sparks-fade-in 0.3s ease-in 0.3s 1;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}