/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    /* Общие стили для всех элементов */
    --bg-color: #fff;
    --text-color: #000;

    /* Стили для шрифтов */
    --main-font: 'Inter-Variable';
    /* sans-serif */
    --accent-font: 'PressStart2P';
    /* monospace */

    /* Стили для шрифта */
    --font-weight-normal: 400;
    /* Толщина основного текста */
    --font-weight-bold: 700;
    /* Толщина заголовка */


    /* Общие стили для всех шрифтов */
    --font-size: 16px;

    /* Цвет обводки */
    --text-stroke-color: #fff;


    /* main section */

    /* heart */
    --heart-main-color: #ff0000;
    --heart-contour-color: #000;
    --heart-sparks-color: #ff0000;

    /* variable for main background */
    --dotSize: 0.10rem;
    --bgSize: 0.3rem;
    --bgPosition: calc(var(--bgSize) / 2);

    /* header font-size */
    --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

@media (width < 375px) {
    :root {
      --header-title-font-size: clamp(
        1.875rem,
        -5.0341rem + 34.5455vw,
        3.0625rem
      );
    }
  }