/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    /* Общие стили для всех элементов */
    --bg-color: #fff;
    --text-color: #000;

    /* Стили для шрифтов */
    --main-font: 'Inter-Variable';
    /* sans-serif */
    --accent-font: 'PressStart2P';
    /* monospace */

    /* Стили для шрифта */
    --font-weight-normal: 400;
    /* Толщина основного текста */
    --font-weight-bold: 700;
    /* Толщина заголовка */


    /* Общие стили для всех шрифтов */
    --font-size: 16px;

    /* Цвет обводки */
    --text-stroke-color: #fff;


    /* main section */

    /* heart */
    --heart-main-color: #ff0000;
    --heart-contour-color: #000;
    --heart-sparks-color: #ff0000;

    /* variable for main background */
    --dotSize: 0.10rem;
    --bgSize: 0.3rem;
    --bgPosition: calc(var(--bgSize) / 2);

    /* Ширина разных элементов на странице */
    /* header width */
    --section-min-width: 100vw;
    /* Минимальная ширина */
    --section-max-width: 100vw;
    /* Максимальная ширина */
    --section-preferred-width: 100vw;
    /* Предпочтительная ширина */

    /* (LOGO) header__main_text */
    --logo-min-width: 697px;
    /* Минимальная ширина логотипа */
    --logo-max-width: 702px;
    /* Максимальная ширина логотипа */
    --logo-preferred-width: 100vw;
    /* Предпочтительная ширина */
}